<div class="col-md-3">
  <div class="card">
    <div class="card-header">
      トップページ
    </div>
    <div class="card-body">
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to "基本情報", listing_salon_path, class: "sidebar-link active" %>
          <span class="float-right"><i class="fa fa-check"></i></span>
        </li>
        <li class="nav-item">
          <%= link_to "サブ情報", sublisting_salon_path, class: "sidebar-link active" %>
          <span class="float-right"><i class="fa fa-check"></i></span>
        </li>
        <li class="nav-item">
          <%= link_to "コンセプト", concept_salon_path, class: "sidebar-link active" %>
          <span class="float-right"><i class="fa fa-check"></i></span>
        </li>
        <li class="nav-item">
          <%= link_to "リンク", links_salon_path, class: "sidebar-link active" %>
          <span class="float-right"><i class="fa fa-check"></i></span>
        </li>
        <li class="nav-item">
          <%= link_to "ロケーション", location_salon_path, class: "sidebar-link active" %>
          <span class="float-right"><i class="fa fa-check"></i></span>
        </li>
        <li class="nav-item">
          <%= link_to "カラー", coloring_salon_path, class: "sidebar-link active" %>
          <span class="float-right"><i class="fa fa-check"></i></span>
        </li>
        <li class="nav-item">
          <%= link_to "タグマネージャー", tagmanage_salon_path, class: "sidebar-link active" %>
          <span class="float-right"><i class="fa fa-check"></i></span>
        </li>
      </ul>
    </div>
  </div>
</div>
